@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MostraNuova";
    src: url(../../../public/fonts/mostranuova5.ttf);
}
@font-face {
    font-family: "MostraNuova2";
    src: url(../../../public/fonts/mostranuova2.ttf);
}
@font-face {
    font-family: "BigFat";
    src: url(../../../public/fonts/beatrik.ttf);
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 176 179 196;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    --primary: hsl(231 15% 20%);
    --secondary: hsl(231 15% 68% / 1);
    --accent: rgb(242 173 13);
    --text-font: "MostraNuova";
    --title-font: "MostraNuova2";
    --fat-font: "Bigfat";
    background-image: url(../../../public/bg-grain-jaune.jpg);
    color: black;
    font-family: var(--text-font);
    font-size: 19px;
    line-height: 1.4;
    min-height: 2000px;
    position: relative;
    isolation: isolate;
    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgb(255, 255, 255);
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(0, 0, 0, 1) 95%
        );
        opacity: 0.05;
        pointer-events: none;
    }
    /* background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb)); */
}

.container-xl {
    margin-inline: auto;
    max-width: 1600px;
    width: 100%;
    padding-inline: clamp(15px, 2.5vw, 50px);
}
.topbar span {
    display: flex;
    align-items: center;
}
.topbar span:after {
    content: "-";
    display: inline-block;
    margin-inline: 10px;
}

.navlink {
    position: relative;
    transition: 0.2s;
    overflow: hidden;
    font-weight: 600;
    .dot {
        display: inline-block;
        margin-right: 5px;
        width: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: black;
        transform: translateY(-50px);
    }
    &:hover,
    // &.active {
    //     color: white;
    // }
    &.active .dot {
        transform: translateY(0) !important;
    }
}

.mobile-menu {
    clip-path: circle(0% at 100% 0);
}
.hamburger-btn {
    overflow: hidden;
    .hamburger {
        transition: translate 0.5s, rotate 0.5s;
    }
}

.hamburger-btn.open .hamburger {
    translate: 3px -3px;
    rotate: 0.125turn;
}

.hamburger-btn .line {
    transition: 0.5s;
    stroke-dasharray: 60 31 60 300;
}

.hamburger-btn.open .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}
// .menu-mobile {
//     position: fixed;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 95%;
//     background-color: rgb(51 65 85 / 1);
// }
.text-herotext {
    font-family: var(--fat-font);
    line-height: 1.1;
    letter-spacing: 2px;
    font-weight: bold;
}
.text-herosubtext {
    font-family: var(--fat-font);
    line-height: 1.3;
}

.magnetic-button {
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    touch-action: none;
    font-family: var(--fat-font);
    overflow: hidden;
    background: black;
    color: var(--accent);
    border-radius: 50px;
    padding: 20px 40px;
    &:hover {
        color: white;
    }

    span {
        display: inline-block;
    }

    &--hover {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.blob {
    aspect-ratio: 1.3/1;
    object-fit: cover;
    animation: border-transform 10s linear infinite;
}
.blob-competences {
    background-color: black;
    position: absolute;
    inset: 0;
    z-index: -1;
}
@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
.reassurance-title {
    font-size: clamp(16px, 8px + 2vw, 0.9rem);
}

// .gradient-text {
//     background: linear-gradient(0deg, white, var(--accent));
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: font-gradient 2s linear infinite;
// }
