@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 151 169 216;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    min-height: 2000px;
    /* background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb)); */
}

.container-xl {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    padding: 0 clamp(15px, 2.5vw, 50px);
}

.hamburger-btn {
    border: 1px solid white;
    overflow: hidden;
}

.hamburger-btn .hamburger {
    transition: translate 0.5s, rotate 0.5s;
}

.hamburger-btn.open .hamburger {
    translate: 3px -3px;
    rotate: 0.125turn;
}

.hamburger-btn .line {
    transition: 0.5s;
    stroke-dasharray: 60 31 60 300;
}

.hamburger-btn.open .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}
.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 95%;
    background-color: rgb(51 65 85 / 1);
}
